<div class="container">
  <section class="atas">
    <h3 class="text-center" style="margin-top: 30px">List Cuti</h3>
    <hr />
    <div class="d-flex justify-content-center" *ngIf="!tableReady">
      <div
        class="spinner-border text-primary"
        style="width: 5rem; height: 5rem; margin-top: 30px"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <table *ngIf="tableReady" class="table table-striped">
      <thead class="table-primary">
        <tr>
          <th scope="col">Mulai tanggal</th>
          <th scope="col">Nama</th>
          <th scope="col">Jabatan</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of content.data">
        <tr>
          <td>
            {{ data.startDate | date: "yyyy-MM-dd" }} <strong>s/d</strong>
            {{ data.endDate | date: "yyyy-MM-dd" }}
          </td>
          <td class="up">{{ data.assignee }}</td>
          <td>{{ data.position }}</td>
          <td>
            <span
              style="font-size: 14px"
              class="badge rounded-pill text-light"
              [ngClass]="{
                'bg-warning': data.approval == 'process',
                'bg-success': data.approval == 'approved',
                'bg-danger': data.approval == 'rejected'
              }"
            >
              {{
                data.approval == "process"
                  ? "Diproses"
                  : data.approval == "approved"
                  ? "Disetujui"
                  : "Ditolak"
              }}
            </span>
          </td>
          <td>
            <button
              class="btn btn-outline-primary btn-sm"
              routerLink="/details/cuti/{{ data.id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-list-ul"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
