<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding: 100px 16px">
  <img
    src="https://media-exp1.licdn.com/dms/image/C510BAQErcLBDLD9S5Q/company-logo_200_200/0/1556113416780?e=2159024400&v=beta&t=7c1UU-1IqPkL0gnVRuikVOCPhupdUUgUzQrA-kT1QZY"
    alt=""
  />
  <p class="w3-large">PT. Gerbang Telekomunikasi Indonesia Merah Putih</p>
  <h2 class="w3-margin w3-text-white">HELLO {{ currentUser.fullName }}</h2>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Sejarah Perusahaan</h1>
      <h5 class="w3-padding-32">
        PT. Gerbang Telekomunikasi dan Informasi Merah Putih atau PT.GTI Merah
        Putih mulai didirikan pada tahun 2002. Fokus utama dari PT.GTI Merah
        Putih adalah memberiikan solusi pada hal
        <i>Open Source Software</i> (OSS).
      </h5>

      <p class="w3-text-grey">
        Banyak perusahaan yang ingin bermigrasi dan menggunakan
        <i>Open Source Software</i> (OSS) tetapi mereka tidak memiliki sumber
        daya internal untuk ahli diatasnya, sehingga mereka membutuhkan jasa
        keahlian kami. <i>Open Source</i> tidak berarti produk yang buruk,
        tetapi suatu waktu dapat melebihi bahkan menyaingi produk yang
        berlisensi dalam menangani masalah yang sama. Terkadang kami harus
        mengintegrasi solusi ini dengan aplikasi jaringan yang sudah tersedia.
      </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-building w3-padding-64 w3-text-blue"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i
        class="
          fa fa-calendar-check-o
          w3-padding-64 w3-text-blue w3-margin-right
        "
      ></i>
    </div>

    <div class="w3-twothird">
      <h1>Tentang Website</h1>
      <h5 class="w3-padding-32">
        PT. Gerbang Telekomunikasi dan Informasi Merah Putih memiliki disiplin
        kerja yaitu kehadiran dan absen,lembur dan juga cuti kerja.
      </h5>

      <p class="w3-text-grey">
        Aplikasi web ini dibuat untuk mempermudah pegawai dan manager perusahaan
        dalam melakukan absen kehadiran, lembur dan cuti kerja, dan juga
        Aplikasi web ini juga dapat mendata pegawai yang absen kehadiran, lembur
        dan cuti kerja
      </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge w3-text-white">~ Quote of the day ~</h1>
  <p class="w3-text-white">
    Hidup yang tidak pernah dipertaruhkan, tidak akan pernah dimenangkan...
  </p>
  <p>-- Sutan Sjahrir</p>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity mx-2"></i>
    <i class="fa fa-instagram w3-hover-opacity mx-2"></i>
    <i class="fa fa-snapchat w3-hover-opacity mx-2"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity mx-2"></i>
    <i class="fa fa-twitter w3-hover-opacity mx-2"></i>
    <i class="fa fa-linkedin w3-hover-opacity mx-2"></i>
  </div>
  <p>Powered by <a href="https://www.gti.co.id" target="_blank">PT.GTI</a></p>
</footer>
