<div class="container">
  <section class="atas">
    <h3 class="text-center" style="margin-top: 30px">Formulir Izin Sakit</h3>
    <hr />
    <form [formGroup]="form" (ngSubmit)="saveSick()">
      <!-- TANGGAL -->
      <label class="form-label" for="date">Tanggal</label>
      <div class="input-group mb-2">
        <input
          ngbDatepicker
          #d="ngbDatepicker"
          type="text"
          placeholder="YYYY-MM-DD"
          class="form-control"
          formControlName="date"
          [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
        />
        <button
          class="btn btn-outline-primary calendar"
          (click)="d.toggle()"
          type="button"
        >
          <i class="bi bi-calendar3"></i>
        </button>
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="submitted && f.date.errors"
        style="font-size: small"
      >
        <strong>Warning!</strong> Tanggal tidak boleh kosong
      </div>

      <!-- KETERANGAN -->
      <label for="description">Keterangan</label>
      <div class="input-group mb-2">
        <textarea
          class="form-control"
          aria-label="With textarea"
          formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
        ></textarea>
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="submitted && f.description.errors"
        style="font-size: small"
      >
        <strong>Warning!</strong> Keterangan tidak boleh kosong
      </div>

      <!-- FOTO -->
      <label for="image">Foto</label>
      <div class="input-group mb-2">
        <input
          class="form-control"
          type="file"
          (change)="onChange($event)"
          formControlName="image"
          [ngClass]="{ 'is-invalid': submitted && f.image.errors }"
        />
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="submitted && f.image.errors"
        style="font-size: small"
      >
        <strong>Warning!</strong> Foto tidak boleh kosong
      </div>
      <hr />

      <!-- SUBMIT -->
      <div class="col-12" style="margin-top: 10px">
        <button class="btn btn-primary btn-sm mx-2 mb-3" type="submit">
          Submit
        </button>
        <button
          *ngIf="currentUser.roles == 'staff'"
          type="button"
          class="btn btn-info btn-sm mb-3"
          routerLink="/history/sakit"
        >
          History
        </button>
      </div>
    </form>
  </section>
</div>
