<section class="atas">
  <div class="col-md-12">
    <div class="card card-container" style="padding-bottom: 2rem">
      <img id="profile-img" src="assets/1.png" class="profile-img-card" />
      <h1
        class="text-center"
        style="font-family: 'Lucida Console', 'Courier New', monospace"
      >
        <strong>DAFTAR</strong>
        <hr />
      </h1>
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="fullName">Nama Lengkap</label>
          <input
            type="fullName"
            class="form-control"
            name="fullName"
            [(ngModel)]="form.fullName"
            required
            minlength="3"
            maxlength="20"
            #fullName="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && fullName.invalid"
          >
            <div *ngIf="fullName.errors.required">
              Nama lengkap pengguna diperlukan
            </div>
            <div *ngIf="fullName.errors.minlength">
              Nama lengkap pengguna harus minimal 3 karakter
            </div>
            <div *ngIf="fullName.errors.maxlength">
              Nama lengkap pengguna harus maksimal 20 karakter
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && email.invalid"
          >
            <div *ngIf="email.errors.required">Email diperlukan</div>
            <div *ngIf="email.errors.email">
              Email harus berupa alamat email yang valid
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Kata Sandi</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <div *ngIf="password.errors.required">Kata sandi dibutuhkan</div>
            <div *ngIf="password.errors.minlength">
              Kata sandi harus minimal 6 karakter
            </div>
          </div>
        </div>
        <center>
          <p class="text-muted">
            Anda sudah punya akun?<a routerLink="/login"> Masuk</a>
          </p>
        </center>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Daftar</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Pendaftaran Anda gagal !<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Pendaftaran Anda berhasil !
      </div>
    </div>
  </div>
</section>
